.header{
  min-height: 120px;
  background: black;
  display: flex;
  align-items: center;
}

.menu {
  display:flex;
  flex-direction: row;
}

.menu>li{
  font-size: 20px;
  margin-left: 20px;
}

a{
  color: white;
}
ul>li:hover{
  background-color: grey;
  font-size: 25px;
}
body{
  background: url(https://previews.123rf.com/images/alicjane/alicjane1802/alicjane180200251/96431714-grey-background-of-stone-texture-with-blank-surface.jpg) no-repeat center center fixed;
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    background-size: 100%; /* Современные браузеры */
}